Options -Indexes

RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Cho phép truy cập thẳng vào file thật (ảnh trong uploads/)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tất cả request còn lại → index.php
RewriteRule ^(.*)$ index.php [QSA,L]
